/* TABLE OF CONTENTS
--VARIABLES
--RESET
--UTILITIES
  --background colors
  --font sizes
  --font weights
  --font families
  --text styles
  --display & position
  --layout
  --MISC UTILITIES
    --screen reader
    --no-wrap/
    --no-scrolling
/* -------------------- */

/* -------------------- */
/* GOOGLE FONTS          */
/* -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

/* -------------------- */
/* VARIABLES           */
/* -------------------- */
:root{
  /* colors - hsl values */
  --clr-dark: 230 35% 7%;
  --clr-accent: 231, 77%, 90%;
  --clr-white: 0 0% 100%; 

  /* font sizes */
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-22: 2.3rem;
  --fs-24: 2.4rem;
  --fs-28: 2.8rem;
  --fs-32: 3.2rem;
  --fs-34: 3.4rem;
  --fs-36: 3.6rem;
  --fs-38: 3.8rem;
  --fs-40: 4rem;
  --fs-42: 4.2rem;
  --fs-44: 4.4rem;
  --fs-46: 4.6rem;
  --fs-48: 4.8rem;
  --fs-50: 5rem;
  --fs-56: 5.6rem;
  --fs-64: 6.4rem;
  --fs-72: 7.2rem;
  --fs-80: 8.0rem;
  --fs-96: 9.6rem;
  --fs-100: 10rem;
  --fs-150: 15rem;

  /* Font Families */
  --ff-barlow: 'Barlow', sans-serif;
  --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  --ff-bellefair: 'Bellefair', serif;
}

/* -------------------- */
/* RESET - taken from:
   
  https://www.joshwcomeau.com/css/custom-css-reset/
  
  https://piccalil.li/blog/a-modern-css-reset/

  https://necolas.github.io/normalize.css/
  
/* -------------------- */



/* -------------------- */
/* UTILITIES            */
/* -------------------- */

/* background colors */
.bgDark{
  background-color: hsl(var(--clr-dark));
}

.bgAccent{
  background-color: hsl(var(--clr-accent));
}

.bgWhite{
  background-color: hsl(var(--clr-white));
}
/* font sizes */
.fs14{
  font-size: var(--fs-14);
}
.fs16{
  font-size: var(--fs-16);
}
.fs18{
  font-size: var(--fs-18);
}
.fs20{
  font-size: var(--fs-20);
}
.fs22{
  font-size: var(--fs-22);
}
.fs24{
  font-size: var(--fs-24);
}
.fs28{
  font-size: var(--fs-28);
}
.fs32{
  font-size: var(--fs-32);
}
.fs34{
  font-size: var(--fs-34);
}
.fs36{
  font-size: var(--fs-36);
}
.fs38{
  font-size: var(--fs-38);
}
.fs40{
  font-size: var(--fs-40);
}
.fs42{
  font-size: var(--fs-42);
}
.fs44{
  font-size: var(--fs-44);
}
.fs46{
  font-size: var(--fs-46);
}
.fs48{
  font-size: var(--fs-48);
}
.fs50{
  font-size: var(--fs-50);
}

.fs56{
  font-size: var(--fs-56);
  line-height: 1.1;
}
.fs64{
  font-size: var(--fs-64);
  line-height: 1.1;
}
.fs72{
  font-size: var(--fs-72);
  line-height: 1.1;
}
.fs80{
  font-size: var(--fs-80);
  line-height: 1.1;
}
.fs96{
  font-size: var(--fs-96);
  line-height: 1.1;
}
.fs100{
  font-size: var(--fs-100);
  line-height: 1.1;
}
.fs150{
  font-size: var(--fs-150);
  line-height: 1.1;
}
/* font weights */
.fw100{
  font-weight: var(--fw-100);
}
.fw200{
  font-weight: var(--fw-200);
}
.fw300{
  font-weight: var(--fw-300);
}
.fw400{
  font-weight: var(--fw-400);
}
.fw500{
  font-weight: var(--fw-500);
}
.fw600{
  font-weight: var(--fw-600);
}
.fw700{
  font-weight: var(--fw-700);
}
.fw800{
  font-weight: var(--fw-800);
}
.fw900{
  font-weight: var(--fw-900);
}
/* Font Families */
.ffBarlow{
  font-family: var(--ff-barlow);
}
.ffBarlow-condensed{
  font-family: var(--ff-barlow-condensed);
}
.ffBellefair{
  font-family: var(--ff-bellefair);
}

/* TEXT STYLES */
.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}

.textLowercase {
  text-transform: lowercase;
}

.textUppercase {
  text-transform: uppercase;
}

.textCapitalize {
  text-transform: capitalize;
}

/* DISPLAY & POSITION */

.dBlock {
  display: block;
}

.dInline {
  display: inline;
}

.dInlineBlock {
  display: inline-block;
}

.dFlex {
  display: -ms-flexbox;
  display: flex;
}

.dInlineFlex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dGrid{
  display: grid;
}

.dNone,
.dHide {
  display: none !important;
}

.dVisible {
  visibility: visible;
}

.dInvisible {
  visibility: hidden;
}
.pRelative {
  position: relative !important;
}

.pAbsolute {
  position: absolute !important;
}

.pFixed {
  position: fixed !important;
}


/* LAYOUT */

.flow > *:not(:first-child){
  margin-top: var(--flow-space, 1rem);
}

.flexWrap{
  flex-wrap: wrap;
}

.flexColumn{
  flex-direction: column;
}

.flexRow{
  flex-direction: row;
}

.justifyCenter{
  justify-content: center;
}

.justifyEnd{
  justify-content: flex-end;
}

.justifyBetween{
  justify-content: space-between;
}

.justifyAround{
  justify-content: space-around;
}

.justifyEvenly{
  justify-content: space-evenly;
}

.justifyStart{
  justify-content: flex-start;
}

.alignCenter{
  align-items: center;
}

.alignEnd{
  align-items: flex-end;
}

.alignStart{
  align-items: flex-start;
}

.alignStretch{
  align-items: stretch;
}

.alignBaseline{
  align-items: baseline;
}

/* MISC UTILITIES */

/* screen reader */

.srOnly{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* don't wrap words */

.nowrap{
  white-space: nowrap;
}

/* prevent scrolling */

.noScroll{
  overflow-y: hidden;
}

