/* -------------------- */
/* GOOGLE FONTS          */
/* -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

/* -------------------- */
/* VARIABLES           */
/* -------------------- */
:root{
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-accent: 231, 77%, 90%;
  --clr-white: 0 0% 100%; 

  /* font sizes */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-96: 6rem;
  --fs-100: 6.25rem;
  --fs-150: 9.375rem;

  /* Font Families */
  --ff-barlow: 'Barlow', sans-serif;
  --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  --ff-bellefair: 'Bellefair', serif;
}

/* -------------------- */
/* RESET                */
/* -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
picture,
figure,
img,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

img,
picture{
  max-width: 100%;
  display: block;
}

html,
body{
  padding: 0;
  margin: 0;
}

body{
  line-height: 1.7;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-barlow);
  font-size: var(--fs-18);
  background-color: hsl(var(--clr-dark));
  color: #fff;
}

input,
button,
textarea,
select{
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li{
  font-weight: var(--fw-400);
}

@media(prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* -------------------- */
/* UTILITIES            */
/* -------------------- */

/* background colors */
.bgDark{
  background-color: hsl(var(--clr-dark));
}

.bgAccent{
  background-color: hsl(var(--clr-accent));
}

.bgWhite{
  background-color: hsl(var(--clr-white));
}
/* font sizes */
.fs14{
  font-size: var(--fs-14);
}
.fs16{
  font-size: var(--fs-16);
}
.fs18{
  font-size: var(--fs-18);
}
.fs20{
  font-size: var(--fs-20);
}
.fs24{
  font-size: var(--fs-24);
}
.fs-28{
  font-size: var(--fs-28);
}
.fs32{
  font-size: var(--fs-32);
}
.fs48{
  font-size: $fs-48;
  line-height: 1.1;
}
.fs56{
  font-size: $fs-56;
  line-height: 1.1;
}
.fs64{
  font-size: $fs-64;
  line-height: 1.1;
}
.fs72{
  font-size: $fs-72;
  line-height: 1.1;
}
.fs80{
  font-size: $fs-80;
  line-height: 1.1;
}
.fs96{
  font-size: $fs-96;
  line-height: 1.1;
}
.fs100{
  font-size: $fs-100;
  line-height: 1.1;
}
.fs150{
  font-size: $fs-150;
  line-height: 1.1;
}
/* font weights */
.fw100{
  font-weight: var(--fw-100);
}
.fw200{
  font-weight: var(--fw-200);
}
.fw-300{
  font-weight: var(--fw-300);
}
.fw400{
  font-weight: var(--fw-400);
}
.fw500{
  font-weight: var(--fw-500);
}
.fw600{
  font-weight: var(--fw-600);
}
.fw700{
  font-weight: var(--fw-700);
}
.fw800{
  font-weight: var(--fw-800);
}
.fw900{
  font-weight: var(--fw-900);
}
/* Font Families */
.ffBarlow{
  font-family: var(--ff-barlow);
}
.ffBarlow-condensed{
  font-family: var(--ff-barlow-condensed);
}
.ffBellefair{
  font-family: var(--ff-bellefair);
}

/* layout */

.container{
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2em;
}

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.grid{
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:not(:first-child){
  margin-top: var(--flow-space, 1rem);
}

.flexWrap{
  flex-wrap: wrap;
}

.flexColumn{
  flex-direction: column;
}

.flexRow{
  flex-direction: row;
}

.justifyCenter{
  justify-content: center;
}

.justifyEnd{
  justify-content: flex-end;
}

.justifyBetween{
  justify-content: space-between;
}

.justifyAround{
  justify-content: space-around;
}

.justifyEvenly{
  justify-content: space-evenly;
}

.justifyStart{
  justify-content: flex-start;
}

.alignCenter{
  align-items: center;
}

.alignEnd{
  align-items: flex-end;
}

.alignStart{
  align-items: flex-start;
}

.alignStretch{
  align-items: stretch;
}

.alignBaseline{
  align-items: baseline;
}

.srOnly{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* don't wrap words */

.nowrap{
  white-space: nowrap;
}

/* prevent scrolling */

.noScroll{
  overflow-y: hidden;
}
