/* -------------------- */
/* VARIABLES           */
/* -------------------- */

  /* colors */
  $clr-dark: 230 35% 7%;
  $clr-accent: 231, 77%, 90%;
  $clr-white: 0 0% 100%; 

  /* font sizes */
  $fs-14: 0.875rem;
  $fs-16: 1rem;
  $fs-18: 1.125rem;
  $fs-20: 1.25rem;
  $fs-24: 1.5rem;
  $fs-28: 1.75rem;
  $fs-32: 2rem;
  $fs-48: 3rem;
  $fs-56: 3.5rem;
  $fs-64: 4rem;
  $fs-72: 4.5rem;
  $fs-80: 5rem;
  $fs-96: 6rem;
  $fs-100: 6.25rem;
  $fs-150: 9.375rem;

  /* font weights */
  $fw-100: 100;
  $fw-200: 200;
  $fw-300: 300;
  $fw-400: 400;
  $fw-500: 500;
  $fw-600: 600;
  $fw-700: 700;
  $fw-800: 800;
  $fw-900: 900;

  /* Font Families */
  $ff-barlow: 'Barlow', sans-serif;
  $ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  $ff-bellefair: 'Bellefair', serif;

  /* gap for grid and flex */
  $gap: 1rem;

/* -------------------- */
/* RESET                */
/* -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
picture,
figure,
img,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

img,
picture{
  max-width: 100%;
  display: block;
}

body{
  line-height: 1.7;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: $ff-barlow;
  font-size: $fs-18;
  background-color: hsl($clr-dark);
}

input,
button,
textarea,
select{
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li{
  font-weight: $fw-400;
}

@media(prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




/* -------------------- */
/* UTILITIES            */
/* -------------------- */

/* background colors */
.bg-dark{
  background-color: hsl($clr-dark);
}

.bg-accent{
  background-color: hsl($clr-accent);
}

.bg-white{
  background-color: hsl($clr-white);
}
/* font sizes */
.fs-14{
  font-size: $fs-14;
}
.fs-16{
  font-size: $fs-16;
}
.fs-18{
  font-size: $fs-18;
}
.fs-20{
  font-size: $fs-20;
}
.fs-24{
  font-size: $fs-24;
}
.fs-28{
  font-size: $fs-28;
}
.fs-32{
  font-size: $fs-32;
}
.fs-48{
  font-size: $fs-48;
  line-height: 1.1;
}
.fs-56{
  font-size: $fs-56;
  line-height: 1.1;
}
.fs-64{
  font-size: $fs-64;
  line-height: 1.1;
}
.fs-72{
  font-size: $fs-72;
  line-height: 1.1;
}
.fs-80{
  font-size: $fs-80;
  line-height: 1.1;
}
.fs-96{
  font-size: $fs-96;
  line-height: 1.1;
}
.fs-100{
  font-size: $fs-100;
  line-height: 1.1;
}
.fs-150{
  font-size: $fs-150;
  line-height: 1.1;
}
/* font weights */
.fw-100{
  font-weight: $fw-100;
}
.fw-200{
  font-weight: $fw-200;
}
.fw-300{
  font-weight: $fw-300;
}
.fw-400{
  font-weight: $fw-400;
}
.fw-500{
  font-weight: $fw-500;
}
.fw-600{
  font-weight: $fw-600;
}
.fw-700{
  font-weight: $fw-700;
}
.fw-800{
  font-weight: $fw-800;
}
.fw-900{
  font-weight: $fw-900;
}
/* Font Families */
.ff-barlow{
  font-family: $ff-barlow;
}
.ff-barlow-condensed{
  font-family: $ff-barlow-condensed;
}
.ff-bellefair{
  font-family: $ff-bellefair;
}

/* layout */

.container{
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2em;
}

.flex{
  display: flex;
  gap: $gap;
}

.grid{
  display: grid;
  gap: $gap;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: flex-end;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.justify-evenly{
  justify-content: space-evenly;
}

.justify-start{
  justify-content: flex-start;
}

.align-center{
  align-items: center;
}

.align-end{
  align-items: flex-end;
}

.align-start{
  align-items: flex-start;
}

.align-stretch{
  align-items: stretch;
}

.align-baseline{
  align-items: baseline;
}

/* don't wrap words */

.nowrap{
  white-space: nowrap;
}

/* prevent scrolling */

.no-scroll{
  overflow-y: hidden;
}